<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Fake</title>
</head>
<body>
    <%- include('common/header') %>
    <form action="add-fake" method="post">
        <label>
            Text for post
            <textarea name="text" id=""></textarea>
        </label>
        <br>
        <button type="submit">Sumbit Fake Post</button>
    </form>
</body>
</html>