<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Real</title>
</head>
<body>
    <%- include('common/header') %>
    <form action="add-real" method="post">
        <label>
            Link to the post :
            <input type="text" name="link">
        </label>
        <br>
        <button type="submit">Sumbit Real Post</button>
    </form>
    <%- include('common/footer') %>
</body>
</html>