<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oldest PersonModel Result</title>
</head>
<body>
    <% if (oldest_persons && oldest_persons.length > 0) { %>
        <% if (oldest_persons.length > 1) { %>
            <h3>Oldest persons entered:</h3>
        <% } else { %>
            <h3>Oldest person entered:</h3>
        <% } %>

        <% oldest_persons.forEach(person => { %>
            <p><%= person.toString() %></p>
        <% }); %>

    <% } else { %>
        <h3>No one was input into the system</h3>
    <% } %>

    <br/>
    <a href='/'>Start Again</a>
</body>
</html>
