<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saw real</title>
</head>
<body>
    <%- include('common/header') %>
    <form action="saw-real" method="post">
        <label>
            Text for post
            <textarea name="text" id=""></textarea>
        </label>
        <br>
        <label>
            Link to the proof :
            <input type="text" name="link">
        </label>
        <br>
        <button type="submit">Sumbit Real Post sighting</button>
    </form>
</body>
</html>