<%# Variables %>
<% const pagelink = {
    Home: "/",
    "Play Game": "/game/",
    "Add Fake": "/game/add-fake",
    "Add Real": "/game/add-real",
    "Saw Real": "/game/saw-real"
} %>

<header>
    <nav>
        <a href="/" class="nav-logo">Linked<span>OUT</span></a>
        <ul class="nav-links">
            <% for (const page in pagelink) { %>
                <li><a href="<%= pagelink[page] %>"><%= page %></a></li>
            <% } %>
        </ul>
    </nav>
</header>
<main>